# Cache and Testing
__pycache__/
*.py[cod]
*.pytest

# Folders
output/
docs/
contents/
data/
wandb/
runs/

# Files
*.ipynb
!fig.ipynb

# dont track report
report/*
!report/main.tex
!report/main.pdf
!report/fig/
